{% extends 'base.html' %}
{% load ui_components %}

{% block title %}
    <ol class="breadcrumb breadcrumb-bg-orange">
        <li><a href="/"><i class="material-icons">home</i> Home</a></li>
        <li class="active"><i class="material-icons">library_books</i> Categorias</li>
    </ol>   
{% endblock %}

{% block content %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <div class="row">
                    <div class="col-sm-4">                        
                        <h2>
                            CATEGORIAS
                            <small>Listado de categorias</small>
                        </h2>                
                    </div>
                    <div class="col-sm-4 align-center">
                        {% include 'partials/pagination.html' %}
                    </div>                    
                </div>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="{% url 'add_category' %}">
                                    <i class="material-icons">add_circle</i>Nueva categoria
                                </a>
                            </li>
                            <li class="disabled">
                                <a href="javascript:void(0);">
                                    <i class="material-icons">delete</i>Eliminar
                                </a>
                            </li>                            
                        </ul>
                    </li>
                </ul>              
            </div>
            <div class="body">
                {% ui_table object in object_list edit %}                
                    {{ 'Nombre' }}
                {% body %}
                    {{ object }}                    
                {% endui_table %}
                <a href="{% url 'add_category' %}" type="button" class="btn bg-blue-grey waves-effect">
                    <i class="material-icons">add_circle</i> 
                    <span>NUEVO</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}