{% extends 'base/base_list.html' %}

{% block list %}
<div class="table-responsive">
    <table class="table list-datatable dt-responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th></th>
                {% if object_list %}
                {% for header in pack_info.headers.values %}
                <th>{{ header }}</th>
                {% endfor %}
                <th>Acciones</th>
                {% else %}
                <th>{{ pack_info.title }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for instance, row in pack_info.rows %}
            <tr data-id="{{ instance.id }}">
                <td></td>
                <td></td>
                {% for data in row.data.values %}
                <td>{{ data.value|default:""|truncatechars:"50" }}</td>
                {% endfor %}
                <td>
                    {% if row.urls.delete %}
                    <a href="{{ row.urls.delete }}" class="text-secondary ml-25 mr-25">
                        <i class="bx bx-trash"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td>"Sin resultados."</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}