{% extends 'base.html' %}
{% load ui_components %}

{% block title %}
<div class="breadcrumb-custom">    
    <ol class="breadcrumb">
        <li><a href="/"><i class="material-icons">home</i> Home</a></li>
        <li class="active"><i class="material-icons">library_books</i> Facturas</li>
    </ol>
    <div class="keypad">
        <a href="{% url 'add_invoice' %}" class="btn bg-blue-grey waves-effect">
            CREAR
        </a>                
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row clearfix p-t-50">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <div class="row">
                    <div class="col-sm-4">
                        <h2>
                            FACTURAS
                            <small>Listado de facturas</small>
                        </h2>
                    </div>
                    <div class="col-sm-4 align-center">
                        {% include 'partials/pagination.html' %}
                    </div>                    
                </div>
                
                                 
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>                        
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="{% url 'add_invoice' %}">
                                    <i class="material-icons">add_circle</i>Nuevo factura
                                </a>
                            </li>
                            <li class="disabled">
                                <a href="javascript:void(0);">
                                    <i class="material-icons">delete</i>Eliminar
                                </a>
                            </li>                            
                        </ul>
                    </li>
                </ul>                 
            </div>
            <div class="body">
                {% ui_table object in object_list %}                                    
                    {{ 'Cliente' }}{{ 'Fecha' }}{{ 'Estado' }}{{ 'Subtotal' }}{{ 'Impuestos' }}{{ 'Total' }}
                {% body %}                    
                    {{ object.customer }}{{ object.date }}{{ object.get_status }}
                    {{ object.untaxed_amount }}{{ object.tax_amount }}{{ object.total_amount }}
                {% endui_table %}                              
            </div>
        </div>
    </div>
</div>
{% endblock %}