{% extends 'base.html' %}

{% block css %}
    {% include 'forms/css.html' %}    
{% endblock %}

{% block title %}
<div class="breadcrumb-custom">    
    <ol class="breadcrumb">
        <li><a href="/"><i class="material-icons">home</i> Home</a></li>
        <li><a href="{% url 'invoices' %}"><i class="material-icons">library_books</i> Facturas</a></li>
        {% if not object %}
        <li class="active"><i class="material-icons">library_books</i> Crear</li>
        {% else %}
        <li class="active"># {{ object.id }}</li>
        {% endif %}
    </ol>
    <div class="keypad">
        <button type="submit" form="form" class="btn bg-blue-grey waves-effect">GUARDAR</button>
        {% if object and object.status == object.DRAFT %}
        <a href="{% url 'invoiced_invoice' object.id %}" class="btn bg-blue-grey waves-effect">FACTURAR</a>
        {% elif object and object.status == object.INVOICED %}
        <a href="{% url 'paid_invoice' object.id %}" class="btn bg-blue-grey waves-effect">PAGAR</a>
        {% endif %}
        <a href="{% url 'invoices' %}" class="btn btn-default waves-effect">DESCARTAR</a>
    </div>
</div>    
{% endblock %}

{% block content %}
<div class="row clearfix p-t-50">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    FACTURA
                    {% if object %}
                    <small>Detalle de factura <span class="label label-primary">#{{ object.id }}</span></small>
                    <small>
                        <ol class="status-bar" data-steps="3">
                                <li {% if object.status == object.DRAFT %} class="done" {% endif %}>
                                    <span>Borrador</span>
                                </li><!--
                             --><li {% if object.status == object.INVOICED %} class="done" {% endif %}>
                                    <span>Facturado</span>                                
                                </li><!--
                             --><li {% if object.status == object.PAID %} class="done" {% endif %}>
                                    <span>Pagado</span>
                                </li>
                            </ol>
                    </small>
                    {% else %}
                    <small>Registrar una nueva factura</small>
                    {% endif %}
                </h2>                
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Imprimir</a></li>                            
                        </ul>
                    </li>
                </ul>                
            </div>
            <div class="body">                
                {% include 'billing/formsets/invoice_formset.html' %}                         
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block js %}
    {% load static %}
    {% include 'forms/js.html' %}
    <script src="{% static 'plugins/jquery-formset/jquery.formset.js' %}"></script>    
    <script src="{% static 'js/billing/invoice.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $(".inline.{{ invoiceline_formset.prefix }}").formset({
                prefix: "{{ invoiceline_formset.prefix }}",
                addText: '<span class="fa fa-plus"></span> Agregar linea adicional',
                deleteText: '<span class="fa fa-close"></span>',
                added: function ($row) {
                    var $taxes = $row.find('.taxes');
                    var $product = $row.find('.product');
                    var select_taxes = $taxes.find('select').clone();
                    var select_product = $product.find('select').clone();
                    $taxes.empty();
                    $taxes.append(select_taxes);
                    $product.empty();
                    $product.append(select_product)
                    $.app.select.activate();
                    addListeners($row);
                }                
            });            
        })
    </script>
{% endblock %}