{% load static %}

<!-- BEGIN: Vendor JS-->
<script src="{% static 'vendors/vendors.min.js' %}"></script>
<!-- BEGIN Vendor JS-->


<!-- BEGIN: Page Vendor JS-->
<script src="{% static 'vendors/datatable/js/datatables.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/datatables.checkboxes.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/responsive.bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/datatables.init.js' %}"></script>
<script src="{% static 'vendors/toastr/toastr.min.js' %}"></script>
<script src="{% static 'vendors/toastr/toastr.init.js' %}"></script>

 <!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="{% static 'assets/js/app-menu.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}"></script>
<script src="{% static 'assets/js/components.js' %}"></script>
<script src="{% static 'assets/js/footer.js' %}"></script>
<script src="{% static 'assets/js/navs.js' %}"></script>
<script src="{% static 'assets/js/paginator.js' %}"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->

<!-- END: Page JS-->

<script src="{% static 'vendors/select2/select2.full.min.js' %}"></script>
<script src="{% static 'vendors/select2/django-select2.js' %}"></script>
<script src="{% static 'vendors/select2/select2.init.js' %}"></script>