{% for item in menulist %}
  {% if not item.parent %}
    <li class="navigation-header"><span>{{ item.title }}</span></li>
    {% include "base/menu.html" with menulist=item.children %}
  {% else %}
    <li class="{% if item.selected %}active{% endif %} nav-item">
      <a href="{{ item.url }}"><i class="bx {{ item.icon }}"></i><span class="menu-title">{{ item.title }}</span></a>
      {% if item.children|length %}
        <ul class="menu-content">
          {% include "base/menu.html" with menulist=item.children %}
        </ul>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}