{% load static i18n %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title>{% block title %}:: Faclab ::{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Invoicing app" name="description"/>
  <meta content="Faclab" name="author"/>
  <!-- App favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/ico/favicon.ico' %}">

  <!-- BEGIN: Vendor CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/vendors.min.css' %}">
  <!-- END: Vendor CSS-->

  <!-- BEGIN: Theme CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/bootstrap/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/bootstrap/bootstrap-extended.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/colors.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/components.css' %}">
  <!-- END: Theme CSS-->

  <!-- BEGIN: Page CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vertical-menu.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/apps/authentication.css' %}">
  <!-- END: Page CSS-->

  <!-- BEGIN: Custom CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
  <!-- END: Custom CSS-->
</head>

<body
  class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 1-column  navbar-sticky footer-static bg-full-screen-image  blank-page blank-page"
  data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
  <!-- BEGIN: Content-->
  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
      <div class="content-header row"></div>
      <div class="content-body">
        <!-- login page start -->
        <section id="auth-login" class="row flexbox-container">
          <div class="col-xl-8 col-11">
            <div class="card bg-authentication mb-0">
              <div class="row m-0">
                <!-- left section-login -->
                <div class="col-md-6 col-12 px-0">
                  <div class="card disable-rounded-right mb-0 p-2 h-100 d-flex justify-content-center">
                    <div class="card-header pb-1">
                      {% block welcome %}
                      <div class="card-title">
                        <h4 class="text-center mb-2">{% translate "Welcome" %}</h4>
                      </div>
                      {% endblock %}
                    </div>
                    <div class="card-content">
                      <div class="card-body">
                        <div class="divider">
                          <div class="divider-text text-uppercase text-muted">
                            <small>
                              {% block dividier %}{% translate "Login with your email" %}{% endblock %}
                            </small>
                          </div>
                        </div>
                        <form method="post">
                          {% csrf_token %}
                          {% block errors %}
                            {{ form.errors }}
                          {% endblock %}
                          {% block form %}
                            {% include "forms/form.html" with form=form %}
                          {% endblock %}
                          {% block submit %}
                            <button type="submit" class="btn btn-primary glow w-100 position-relative">
                              {% translate "Login" %}
                              <i id="icon-arrow" class="bx bx-right-arrow-alt"></i>
                            </button>
                          {% endblock %}
                          {% block text_form %}
                            <div class="text-right mt-2">
                              <a href="{% url 'password_reset' %}" class="card-link">
                                <small>{% translate "Forgot your pasword?" %}</small>
                              </a>
                            </div>
                          {% endblock %}
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- right section image -->
                <div class="col-md-6 d-md-block d-none text-center align-self-center p-3">
                  <div class="card-content">
                    <img class="img-fluid" src="{% static 'assets/img/login.png' %}" alt="branding logo">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- login page ends -->
      </div>
    </div>
  </div>
  <!-- END: Content-->


  <!-- BEGIN: Vendor JS-->
  <script src="{% static 'vendors/vendors.min.js' %}"></script>
  <!-- BEGIN Vendor JS-->

  <!-- BEGIN: Theme JS-->
  <script src="{% static 'assets/js/app-menu.js' %}"></script>
  <script src="{% static 'assets/js/app.js' %}"></script>
  <script src="{% static 'assets/js/components.js' %}"></script>
  <script src="{% static 'assets/js/footer.js' %}"></script>
  <!-- END: Theme JS-->
</body>

</html>