
{% load hydra %}

<!-- Visible fields -->
{% if not form.has_fieldsets %}
{% for field in form.visible_fields %}
    {% render_field field class="form-control" %}
{% endfor %}
{% else %}
{% for row in form.get_fieldsets %}
<div class="row">
    {% for field in row.fields %}
    {% if not field.is_hidden %}
    <div class="col-md-{{ row.bs_cols }}">
        {% render_field field class="form-control" %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}
{% endif %}

<!-- Hidden fields -->
{% for field in form.hidden_fields %} 
  {{ field }}
{% endfor %}

