{% extends "widgets/base_input.html" %}

{% load vp_forms %}

{% block field %}
<fieldset class="form-group mb-0 position-relative has-icon-left">
    {% if not field.errors %}
    {{ field|add_class:"input-mask"|data:"inputmask:'alias': 'datetime'"|data:"inputmask-inputformat:dd/mm/yyyy" }}
    {% else %}
    {{ field|add_class:"input-mask is-invalid"|data:"inputmask:'alias': 'datetime'"|data:"inputmask-inputformat:dd/mm/yyyy" }}
    {% endif %}
    <div class="form-control-position">
        <i class="bx bx-calendar-check"></i>
    </div>
    {% block errors %}{{ block.super }}{% endblock %}
</fieldset>
{% endblock %}