{% load widget_tweaks %}

<div class="table-responsive inline-group" data-label="{{ label }}" data-errors="{{ formset.errors }}" id="{{ formset.prefix }}-group" data-prefix="{{ formset.prefix }}">
  {{ formset.management_form }}
  <table class="table table-bordered mb-0">
    <thead>
      {% for header in headers %}
      <th>{{ header }}</th>
      {% endfor %}
      <th>Eliminar</th>
    </thead>
    <tbody>
      {% for form in formset %}
      <tr id="{{ formset.prefix }}-{{ forloop.counter0 }}" class="inline {{ formset.prefix }}">
        {% for field in form.hidden_fields %}
        {{ field }}
        {% endfor %}

        {% for field in form.visible_fields %}
        <td class="px-1" style="padding: 0.4rem">
          {% include "forms/inputs/"|add:field.widget_type|add:".html" with field=field %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
      <tr id="{{ formset.prefix }}-empty" class="d-none">
        {% for field in formset.empty_form.visible_fields %}
        <td>
          {% include "forms/inputs/"|add:field.widget_type|add:".html" with field=field %}
        </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>